VITE_BASE_URL=/                                                                                             # Base URL where the React.js application is hosted.
VITE_BACKEND_API_URL=http://localhost:5000/api/v1                                                           # API URL of the back-end Ruby on Rails server.