RAILS_ENV=development                                                                                                                                               # Operating enviroment of the Rails API server.
SECRET_KEY_BASE=a96dbb873aeb5995a473dd24816fc0e7110fdabe201a66d6d6a8f8ab1c83f76a4e2cda038b6f0180c64d6ef7938fcaee60658eb1e54d3037d860bb5cb446252a                    # A randomly generated string used to encrypt and sign sensitive data.
REDIS_URL=redis://localhost:6379/0                                                                                                                                  # URL of the Redis service that will be used by the Rail API server.
FRONTEND_HOST_URL=http://localhost:3000                                                                                                                             # URL of the front-end application which will be allowed to connect to the Rails API server.
PORT=5000                                                                                                                                                           # Port number that will be used by Rails API server.
ALTERNATIVE_PORT=5005                                                                                                                                               # Alternative port number that will be used if the above port number is not available.
DATABASE_HOST=localhost                                                                                                                                             # Host address on which PostgreSQL database is running.
DATABASE_PORT=5432                                                                                                                                                  # Port number of the host on which PostgreSQL database is running.
DATABASE_USERNAME=personal_finance_tracker                                                                                                                          # Name of the user in the PostgreSQL database that will be used to connect to the database.
DATABASE_PASSWORD=165692018                                                                                                                                         # Password of the PostgreSQL database that will be used to connect to the database.
DATABASE_NAME=personal_finance_tracker                                                                                                                              # Name of the PostgreSQL database that will be used to connect to the database.
JWTSECRETKEY=PersonalFinanceTracker                                                                                                                                 # Secret key that will be used to generate the JWT.
JWTEXPIRYTIME=1800                                                                                                                                                  # Time duration in seconds after which JWT will expire.